# Apply linguist (used by Github) override to all files and directories in all directories named lib, in order to treat those libraries as vendored and thus not counting towards code statistics.
plugins/trader-slideshow-plugin/lib/** linguist-vendored
